[user]
	email = 1306043330a@gmail.com
	name = dddddjent
[alias]
	last = log -1
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	glog = log --graph
[safe]
	directory = /home/ljl/other_disks/d/study/cs/python/learn_taichi/ray_ tracer
	directory = /home/ljl/other_disks/d/study/ZJU/Computer-archietecture/project1/sha256/riscv-gnu-toolchain
	directory = /home/ljl/other_disks/d/study/ZJU/Computer-archietecture/project1/sha256/riscv-gnu-toolchain/gcc
	directory = /home/ljl/other_disks/d/study/ZJU/Computer-archietecture/project1/whisper
	directory = /home/ljl/other_disks/d/study/ZJU/Computer-archietecture/project1/sha256
	directory = /home/ljl/other_disks/d/study/ZJU/Computer-archietecture/project2(20221202)/attachment/code
	directory = /home/ljl/other_disks/d/study/ZJU/信控计/Project
	directory = /home/ljl/other_disks/d/study/Notes
	directory = /home/ljl/other_disks/d/study/UPUP/versione
	directory = /home/ljl/other_disks/d/study/UPUP/versioned
	directory = /home/ljl/other_disks/d/study/UPUP/PS
	directory = /home/ljl/other_disks/d/study/UPUP/CV
	directory = /home/ljl/other_disks/d/study/UPUP/SI
	directory = /home/ljl/other_disks/d/study/ZJU/AI/Project_1_n_puzzle_tictactoe
	directory = /home/ljl/other_disks/d/study/ZJU/embedded/desktop
	directory = /home/ljl/other_disks/d/study/ZJU/AI/Project 2/particle_filter_obj_tracker-publish
	directory = /home/ljl/other_disks/d/study/ZJU/computer network/server
	directory = /home/ljl/other_disks/d/study/ZJU/computer_network/server
	directory = /home/ljl/other_disks/d/study/ZJU/computer_network/client
	directory = /home/ljl/other_disks/d/study/ZJU/AI/final_project
	directory = /home/ljl/other_disks/d/study/ZJU/AdvancedDigiCiru/Light
	directory = /home/ljl/other_disks/d/study/ZJU/AdvancedDigiCiru/light
	directory = /home/ljl/other_disks/d/study/SummerSession/CS20/3
	directory = /home/ljl/other_disks/d/study/SummerSession/DS/3
	directory = /home/ljl/other_disks/d/study/SummerSession/DS/4
	directory = /home/ljl/other_disks/d/study/SummerSession/DS/project
	directory = /home/ljl/other_disks/d/study/UPUP/CV/template/template-full
[http]
	proxy = socks5://127.0.0.1:1090
[https]
	proxy = socks5://127.0.0.1:1090
[core]
	autocrlf = input
[pull]
	rebase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = store
